.square {
    width: 300px;
    height: 300px;
    background-color: #cc0066;
    transition: border-radius 2s;
    transition-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: square;
}

.square:hover{
    border-radius:50%;
    animation-iteration-count: infinite;
    animation-name: square;
}
.rectangle{
width: 500px;
height: 200px;
background-color: blue;
animation-name: button;
animation-duration: 1s;
animation-iteration-count: infinite;
}

.rectangle:hover{
    border-radius:50% ;
    animation-iteration-count: infinite;
}

.triangle{
    width: 0;
    height: 0;
    border: 150px solid transparent;
    border-top: 0;
    border-bottom: 300px solid yellowgreen;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    /* transform: rotate(3deg); */
     /* transform: rotate(0.3rad);/ */
     /* transform: rotate(3grad); */ 
     /* transform: rotate(.03turn);  */
  }


.triangle:hover{
    transform: rotate(90deg);
    transition-timing-function: ease;
}

.heart{
display:inline-block;
width: 300px; 
height: 350px;
aspect-ratio: 1;
border-image: radial-gradient(red 69%,#0000 70%) 84.5% fill/100%;
clip-path: polygon(-41% 0,50% 91%, 141% 0);
position: relative;
background-color: teal;
animation-name: fade;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear; 

}
.center{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

 }

.heart:hover{
    transform: rotate(90deg);
    transition-timing-function: ease;

}

@keyframes button{

    0%{
        background-color: blueviolet;
        box-shadow: 6px 6px 0 darkslategray;
    }

50% {
    background-color:aqua;
    box-shadow: 6px 6px 0 darkslategray; 
} 
100% {
    transition: 4s;
    background-color: whitesmoke;
    box-shadow: 6px 6px darkmagenta;
   

}

}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes fade {
    0%{
        background-color:#ff9900;
        box-shadow: 6px 6px 0 darkslategray;
        border-radius: 50%;
    }

50% {
    background-color:#ff9900;
    box-shadow: 6px 6px 0 darkslategray; 
} 
100% {
    transition: 4s;
    background-color: whitesmoke;
    box-shadow: 6px 6px darkmagenta;
}

}